@import '~@angular/material/theming';
@import 'test-app-variables';

$test-app-typography: mat-typography-config(
  $font-family: $test-app-font-family,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($test-app-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


/* For use in src/lib/core/theming/_palette.scss */
$test-app-mat-accent: (
  50 : #fce0e4,
  100 : #f6b3ba,
  200 : #f1808d,
  300 : #eb4d5f,
  400 : #e6263c,
  500 : #e2001a,
  600 : #df0017,
  700 : #da0013,
  800 : #d6000f,
  900 : #cf0008,
  A100 : #fff6f7,
  A200 : #ffc3c4,
  A400 : #ff9092,
  A700 : #ff7778,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$test-app-mat-primary: (
  50 : #e0f5f9,
  100 : #b3e7f1,
  200 : #80d7e8,
  300 : #4dc7de,
  400 : #26bbd7,
  500 : #00afd0,
  600 : #00a8cb,
  700 : #009fc4,
  800 : #0096be,
  900 : #0086b3,
  A100 : #dcf5ff,
  A200 : #a9e6ff,
  A400 : #76d7ff,
  A700 : #5dd0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$test-app-mat-dark-red: (
  50 : #f5e4e2,
  100 : #e6bbb6,
  200 : #d58e86,
  300 : #c46056,
  400 : #b73e31,
  500 : #aa1c0d,
  600 : #a3190b,
  700 : #991409,
  800 : #901107,
  900 : #7f0903,
  A100 : #ffafad,
  A200 : #ff7d7a,
  A400 : #ff4b47,
  A700 : #ff332d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$test-app-primary: mat-palette($test-app-mat-primary);
$test-app-accent:  mat-palette($test-app-mat-accent);

// The warn palette is optional (defaults to red).
$test-app-warn:    mat-palette($test-app-mat-dark-red);

// Create the theme object (a Sass map containing all of the palettes).
$test-app-theme: mat-light-theme($test-app-primary, $test-app-accent, $test-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-app-theme);
